*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
} 

nav > ul{
	list-style-type: none;
} 

nav .nav, nav .nav-log{
	margin: .5rem;
	display: inline;
}

#intro{
	padding-left:  10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2395b;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

#info{
	padding-left:  10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-right:.5rem;
	padding: 5px;
	min-height: 125px;
}

#info h3{
	margin-bottom: 1rem	;
}

#pre-footer{
	background-color: #002540;
	color: white;
	margin-bottom: .5rem;
}

#pre-footer div{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	margin-top: .5rem;
	margin-left: .5rem;
	margin-right:.5rem;
	padding: 5px;
}
#pre-footer p, #pre-footer h3{
	vertical-align: top;
	padding: 5px;
}
footer{
	display: inline-block;
	margin-left: .5rem;	
}
footer > span{
	padding: 10px;
}
